.bookmarks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  justify-content: space-between;
}

.bookmark {
  width: 19rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  position: relative;
  border: 1px solid #e7e7e7;
}

.bookmark-warning {
  margin-top: 6rem;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  color: #3e4350;
}

.bookmarks-title {
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 2px solid #000;
  border-color: #e7e4e4;
  display: flex;
  align-items: center;
  color: #41719f;
}

.bookmarks-title svg {
  color: #0b265d;
  width: 2rem;
  height: 1.8rem;
  position: absolute;
  bottom: -10px;
  right: 0;
  color: #3e4350;
  cursor: pointer;
}

.bookmarks-title svg:hover {
  color: #919cb1;
}

.bookmarks-content {
  font-size: 1rem;
  color: #41719f;
}

.bookmark-content {
  margin: 1rem 0;
}

.bookmark-content svg {
  margin-right: 0.5rem;
}

.bookmark-delete-icon {
  position: absolute;
  right: 0.4rem;
  bottom: 0.6rem;
  width: 2rem;
  height: 1.4rem;
  color: #9f1313;
  cursor: pointer;
}

.bookmark-icon {
  stroke: #0b265d;
  fill: #fff;
}

.bookmark-icon-fill {
  color: #3e4350;
}