.search-content {
  margin-top: 2rem;
}

.content-name {
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}

.search-content-meaning {
  color: #41719f;
  font-size: 20px;
  margin-bottom: 1rem;
}

.search-content-meaning svg {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

@media (max-width: 480px) {
  .search-content-meaning {
    font-size: 16px;
  }
}

.search-content-wrapper {
  position: relative;
  box-shadow: 0 20px 30px 0 rgb(0 0 0 / 10%);
  padding: 1rem;
  border-radius: 0.4rem;
}

.search-content-bookmark svg {
  width: 2rem;
  height: 1.8rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #919cb1;
}

.search-content-bookmark svg:hover {
  color: #0b265d;
}