.history {
  margin-top: 6rem;
}

.history-warning {
  margin-top: 6rem;
  font-size: 1.2rem;
  color: #3e4350;
  text-align: center;
  display: block;
}

.history-accordion-label {
  position: relative;
  display: block;
  padding: 0.8rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #41719f;
  font-weight: bold;
  margin-top: 0.8rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #e7e7e7;
}

.history-accordion-label:hover {
  background-color: #41719f;
  color: #fff;
}

.history-accordion-label svg {
  vertical-align: middle;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem;
}

.history-accordion-content {
  padding: 0px 1rem;
  margin: 0;
  margin-bottom: 0.8rem;
  height: 0;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  background-color: #41719f;
  color: #fff;
}

.history-accordion-input:checked~.history-accordion-content {
  height: auto;
  opacity: 1;
  padding: 1rem;
}

.history-accordion-input {
  display: none;
}