.search-container {
  width: 40rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.search-wrapper {
  margin: 6rem auto;
}

.search-title{
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 18px;
}

.navbar-menu-link a {
  margin-left: 1rem;
  text-decoration: none;
  color: #41719f;
}

.navbar-menu-info {
  font-size: 16px;
  font-weight: bold;
  color: #0b265d;
}

.account-page {
  font-size: 20px;
}

@media (max-width: 480px) {
  .search-container {
    width: 22rem;
  }
}