.search-container {
  width: 40rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.search-wrapper {
  margin: 6rem auto;
}

.search-title {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-menu {
  display: flex;
  font-size: 1.2rem;
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 9;
  background-color: #f7f7f7;
  width: 40rem;
  padding: 2rem 0;
}

.navbar-menu a:first-child {
  margin-right: auto;
  margin-left: 0;
}

.navbar-menu a {
  margin-left: 1rem;
  text-decoration: none;
  color: #41719f;
}

.navbar-menu-info {
  font-size: 1rem;
  font-weight: bold;
  color: #0b265d;
}

@media (max-width: 480px) {
  .search-container {
    width: 22rem;
  }

  .search-title {
    font-size: 3rem;
  }
}